<ul class="unstyled">
	<li>备课主题</li>
	<li>老师名字</li>
	<li>
		<span>年级</span>
		<span>册数</span>
		<span>单元</span>
	</li>
</ul>

<table class="table table-bordered">
	<tr>
		<th>课时</th>
		<td colspan="2">3</td>
	</tr>
	<tr>
		<th rowspan="3">教学目标</th>
		<th>知识目标</th>
		<td>dfdfdfdfdfd</td>
	</tr>
	<tr>
		<th>知识目标</th>
		<td>dfdfdfdfdfd</td>
	</tr>
	<tr>
		<th>知识目标</th>
		<td>dfdfdfdfdfd</td>
	</tr>
	<tr>
		<th>单元训练重点</th>
		<td colspan="2">3</td>
	</tr>
	<tr>
		<th>教学重点</th>
		<td colspan="2">3</td>
	</tr>
	<tr>
		<th>教学难点</th>
		<td colspan="2">3</td>
	</tr>
	<tr>
		<th>教学方法</th>
		<td colspan="2">3</td>
	</tr>
	<tr>
		<th>教学准备</th>
		<td colspan="2">3</td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<th colspan="4">第1课时</th>
	</tr>
	<tr>
		<th rowspan="2">教学过程</th>
		<th>教师活动</th>
		<th>学生活动</th>
		<th>设计意图</th>
	</tr>
	<tr>
		<td>教师活动柘城霏霏dfdfdfdf</td>
		<td>学生活动dfdfdfdfdf</td>
		<td>设计意图dfdfdfdfd</td>
	</tr>
	<tr>
		<td>评价及板书设计</td>
		<td colspan="3">asdfadfadsfasdfasdf</td>
	</tr>
	<tr>
		<td>小结及作业</td>
		<td colspan="3">2er123421341234</td>
	</tr>
	<tr>
		<td>教学反思</td>
		<td colspan="3">tyighkjghjkg</td>
	</tr>
</table>