<h2>新建教学计划</h2>

<%= render 'form', content: '<table style="width:100%;border: 1px solid black;font-size: 16px;" cellpadding="2" cellspacing="0" border="1">
	<tr>
		<th colspan="8" width="50%">西溪小学学科教学工作计划</th><th colspan="2" width="50%">西溪小学学科教学进度</th>
	</tr>
	<tr>
		<th width="4%">科目</th><td width="8%" style="font-size: 14px;text-align:center;"></td>
		<th width="4%">年级</th><td width="8%" style="font-size: 14px;text-align:center;"></td>
		<th width="4%">科任</th><td width="8%" style="font-size: 14px;text-align:center;"></td>
		<th width="4%">学期</th><td width="8%" style="font-size: 14px;text-align:center;"></td>
		<th width="5%">周次</th><th width="45%">教学内容</th>
	</tr>
	<tr>
		<th width="4%" rowspan="7" height="420px">指导思想</th><td width="45%" rowspan="7" colspan="7" style="font-size: 14px;text-align:left;vertical-align:top;"></td>
		<th height="60px">1</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">2</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">3</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">4</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">5</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">6</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">7</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th rowspan="7" height="420px">教学目的要求</th><td rowspan="7" colspan="7" style="font-size: 14px;text-align:left;vertical-align:top;"></td>
		<th height="60px">8</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">9</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">10</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">11</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">12</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">13</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">14</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th rowspan="7" height="420px">教学的重难点</th><td rowspan="7" colspan="7" style="font-size: 14px;text-align:left;vertical-align:top;"></td>
		<th height="60px">15</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">16</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">17</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">18</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">19</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">20</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
	<tr>
		<th height="60px">21</td><td style="font-size: 14px;text-align:left;"></td>
	</tr>
</table>' %>